.cards {
    display: flex;
}

.card {
    display: flex;
    border-style: solid;
    justify-content: space-between;
    margin-right: 2rem;
    padding: 3px;
    padding-top: 0;
    flex-direction: column;
    border-radius: 0.3rem;
    border-width: 2px;
    width: 33%;

    &:last-child {
        margin-right: 0;
    }

    &-cta {
        width: 40%;
    }

    &-right {
        display: flex;
        text-align: right;
        justify-content: space-between;
    }

    &> h1 {
        font-size: 2rem;
    }

    &> img {
        width: 100%;
    }

    &> p {
        display: flex;
        width: auto;
    }

    &> button {
        display: flex;
    }
}

@media screen and (max-width: 480px){
    .cards {
        flex-direction: column;
        text-align: center;
    }

    .card {
        width: 100%;
        margin-bottom: 2rem;
    }
}